{% extends "base.html" %}

{% block subPageTitle %}Servers{% endblock %}

{% block contener%}
<button class="standardButton standardButton--action standardButton--addServer" onclick="showModal()">Add server</button>
<div class="contentCard contentCard--serverList">
    <table class="tableList">
        <tr class="tableList__item tableList--serverList">
            <th class="tableList__item__serverList__cell--status">Status</th>
            <th class="tableList__item__serverList__cell--serverName">Server hostname</th>
        </tr>
        <tr class="tableList__item tableList--serverList">
            <td><div class="statusIcon yellow">W</div></td>
            <td>Peter</td>
            <td class="tableList__item__cell--config"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
             </svg></th>
        </tr>
        <tr class="tableList__item tableList--serverList">
            <td><div class="statusIcon yellow">W</div></td>
            <td>Peter</td>
            <td class="tableList__item__cell--config"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
             </svg></th>
        </tr>
        <tr class="tableList__item tableList--serverList">
            <td><div class="statusIcon yellow">W</div></td>
            <td>Peter</td>
            <td class="tableList__item__cell--config"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
             </svg></th>
        </tr>
    </table>
</div>

<div class="modal">
    <form method="POST" class="modal__basicForm">
        <h2 class="basicForm__title">Add new server</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="serverHostname">Hostname</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="serverHostname" name="serverHostname"
                pattern="^[a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?$">
                <!-- <p class="Form__content__line__error_msg" id="serverHostname-error-msg"></p> -->
            </div>
            <!-- <div class="Form__content__line">
                <label class="Form__content__line__title" for="serverIpAddress">IP Address</label>
                <input required type="text" minlength="7" maxlength="15" size="15" class="Form__content__textInput" id="serverIpAddress" name="serverIpAddress"
                pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
                <p class="Form__content__line__error_msg" id="serverIpAddress-error-msg"></p>
            </div> -->

            <!-- <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="serverName">Server name</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="remote" name="OpportunityDetails_operation_mode" value="Remote">
                    <label for="remote">Remote</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="remote" name="OpportunityDetails_operation_mode" value="Remote">
                    <label for="remote">Remote</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="remote" name="OpportunityDetails_operation_mode" value="Remote">
                    <label for="remote">Remote</label>
                </div>
                <p class="Form__content__line__error_msg" id="email-error-msg"></p>
            </div> -->
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/manage_servers">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add server</button>
        </div>
    </form>
</div>


<script>
    document.getElementById("manageServers").classList.add('active')
</script>
{% endblock %}

