{% extends "base.html" %}

{% block subPageTitle %}Servers{% endblock %}

{% block contener%}
<button class="standardButton standardButton--action standardButton--addServer" onclick="showModal()">Add server</button>
<div class="contentCard contentCard--serverList">
    <table class="serverList">
        <tr class="serverList__item">
            <th class="serverList__item__first serverList__item--heading">Status</th>
            <th class="serverList__item__second serverList__item--heading">Server name</th>
            <th class="serverList__item__third serverList__item--heading">IP Address</th>
        </tr>
        <tr class="serverList__item">
            <td class="serverList__item__first"><div class="serverList__status yellow">W</div></td>
            <td class="serverList__item__second">Peter</td>
            <td class="serverList__item__third">123.123.123.123</th>
            <td class="serverList__item__fourth"><img src="{{url_for('static', filename='icon-settings-black.svg')}}" alt=""></th>
        </tr>
        <tr class="serverList__item">
            <td class="serverList__item__first"><div class="serverList__status red">E</div></td>
            <td class="serverList__item__second">123.123.123.123</td>
            <td class="serverList__item__third">123.123.123.123</th>
            <td class="serverList__item__fourth"><img src="{{url_for('static', filename='icon-settings-black.svg')}}" alt=""></th>
        </tr>
        <tr class="serverList__item">
            <td class="serverList__item__first"><div class="serverList__status green">OK</div></td>
            <td class="serverList__item__second">Peter</td>
            <td class="serverList__item__third">123.123.123.123</th>
            <td class="serverList__item__fourth"><img src="{{url_for('static', filename='icon-settings-black.svg')}}" alt=""></th>
        </tr>
    </table>
</div>
<script>
    document.getElementById("manageServers").classList.add('active')
</script>
{% endblock %}

{% block modalContener%}
<form class="modal__basicForm">
    <h2 class="basicForm__title">Add new server</h2>
    
    <div class="modal__basicForm__content">
        <div class="Form__content__line">
            <label class="Form__content__line__title" for="serverName">Server name</label>
            <input maxlength="128" required type="text" class="Form__content__textInput" id="serverName" name="serverName" placeholder="Enter server name">
            <p class="Form__content__line__error_msg" id="email-error-msg"></p>
        </div>
        <div class="Form__content__line">
            <label  class="Form__content__line__title" for="serverName">Server name</label>
            <input maxlength="128" required type="text" class="Form__content__textInput" id="serverName" name="serverName" placeholder="Enter server name">
            <p class="Form__content__line__error_msg" id="email-error-msg"></p>
        </div>
        <div class="Form__content__line">
            <label class="Form__content__line__title" for="serverName">Server name</label>
            <input maxlength="128" required type="text" class="Form__content__textInput" id="serverName" name="serverName" placeholder="Enter server name">
            <p class="Form__content__line__error_msg" id="email-error-msg"></p>
        </div>
        <div class="Form__content__line">
            <label class="Form__content__line__title line__title--radio" for="serverName">Server name</label>
            <div class="Form__content__radioOptions">
                <input class="Form__content__radioOptions__radioButton" type="radio" required id="remote" name="OpportunityDetails_operation_mode" value="Remote">
                <label for="remote">Remote</label>
            </div>
            <div class="Form__content__radioOptions">
                <input class="Form__content__radioOptions__radioButton" type="radio" required id="remote" name="OpportunityDetails_operation_mode" value="Remote">
                <label for="remote">Remote</label>
            </div>
            <div class="Form__content__radioOptions">
                <input class="Form__content__radioOptions__radioButton" type="radio" required id="remote" name="OpportunityDetails_operation_mode" value="Remote">
                <label for="remote">Remote</label>
            </div>
            <p class="Form__content__line__error_msg" id="email-error-msg"></p>
        </div>
    </div>


    <div class="basicForm__buttonsWrapper">
        <div class="buttonsWrapper__button button--negative"><a class="link" href="/manage_servers">Cancel</a></div>
        <button class="buttonsWrapper__button button--positive">Add server</button>
    </div>
</form>
{% endblock %}