{% extends "base.html" %}

{% block subPageTitle %}Settings{% endblock %}
{% block contener%}

<div class="pageContent__block pageContent__block--settings">
    <div class="settings__section"> 
        <h2 class="settings__section__title">User Settings</h2>
        <div class="settings__section__content">
            <div class="contentCard contentCard--settingsBlock" onclick="showModal('addNewUser')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                    <path d="M16 19h6"></path>
                    <path d="M19 16v6"></path>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                 </svg>
                <h2 class="settingsBlock__title">Add user</h2>
                <h3 class="settingsBlock__discription">Here you can add another user.</h3>
            </div>
            <div class="contentCard contentCard--settingsBlock" onclick="showModal('manageUsers')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                 </svg>
                <h2 class="settingsBlock__title">Manage users</h2>
                <h3 class="settingsBlock__discription">Here you can change your profile settings.</h3>
            </div>
        </div>
    </div>
    <div class="settings__section"> 
        <h2 class="settings__section__title">Notifications</h2>
        <div class="settings__section__content">
            <div class="contentCard contentCard--settingsBlock">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-cog" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 19h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v5"></path>
                    <path d="M3 7l9 6l9 -6"></path>
                    <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                    <path d="M19.001 15.5v1.5"></path>
                    <path d="M19.001 21v1.5"></path>
                    <path d="M22.032 17.25l-1.299 .75"></path>
                    <path d="M17.27 20l-1.3 .75"></path>
                    <path d="M15.97 17.25l1.3 .75"></path>
                    <path d="M20.733 20l1.3 .75"></path>
                 </svg>
                <h2 class="settingsBlock__title">Email</h2>
                <h3 class="settingsBlock__discription">Here you can add another user.</h3>
            </div>
            <div class="contentCard contentCard--settingsBlock">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell-cog" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 17h-8a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6a2 2 0 1 1 4 0a7 7 0 0 1 4 6v.5"></path>
                    <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                    <path d="M19.001 15.5v1.5"></path>
                    <path d="M19.001 21v1.5"></path>
                    <path d="M22.032 17.25l-1.299 .75"></path>
                    <path d="M17.27 20l-1.3 .75"></path>
                    <path d="M15.97 17.25l1.3 .75"></path>
                    <path d="M20.733 20l1.3 .75"></path>
                    <path d="M9 17v1a3 3 0 0 0 3 3"></path>
                 </svg>
                <h2 class="settingsBlock__title">Alerts</h2>
                <h3 class="settingsBlock__discription">Here you can change your profile settings.</h3>
            </div>
            <div class="contentCard contentCard--settingsBlock">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M11 17h-7a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6a2 2 0 1 1 4 0a7 7 0 0 1 4 6"></path>
                    <path d="M9 17v1a3 3 0 0 0 2.685 2.984"></path>
                    <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M20.2 20.2l1.8 1.8"></path>
                 </svg>
                <h2 class="settingsBlock__title">Historical alerts</h2>
                <h3 class="settingsBlock__discription">Here you can find all previous alerts.</h3>
            </div>
        </div>
    </div>
    <div class="settings__section"> 
        <h2 class="settings__section__title">Database</h2>
        <div class="settings__section__content">
            <div class="contentCard contentCard--settingsBlock" onclick="showModal('addNewUser')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"></path>
                    <path d="M15 9h.01"></path>
                 </svg>
                <h2 class="settingsBlock__title">API</h2>
                <h3 class="settingsBlock__discription">Here you can find your API key.</h3>
            </div>
            <div class="contentCard contentCard--settingsBlock">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-database-export" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3"></path>
                    <path d="M4 6v6c0 1.657 3.582 3 8 3c1.118 0 2.183 -.086 3.15 -.241"></path>
                    <path d="M20 12v-6"></path>
                    <path d="M4 12v6c0 1.657 3.582 3 8 3c.157 0 .312 -.002 .466 -.005"></path>
                    <path d="M16 19h6"></path>
                    <path d="M19 16l3 3l-3 3"></path>
                 </svg>
                <h2 class="settingsBlock__title">Backups</h2>
                <h3 class="settingsBlock__discription">Here you can configure application's DB backup.</h3>
            </div>
            <div class="contentCard contentCard--settingsBlock">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                    <path d="M12 14m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                    <path d="M12 12.496v1.504l1 1"></path>
                 </svg>
                <h2 class="settingsBlock__title">Historical data</h2>
                <h3 class="settingsBlock__discription">Here you can manage how long db keeps the data.</h3>
            </div>
        </div>
    </div>
    <div class="settings__section"> 
        <h2 class="settings__section__title">Application</h2>
        <div class="settings__section__content">
            <div class="contentCard contentCard--settingsBlock" onclick="showModal('serviceUser')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-code" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
                    <path d="M20 21l2 -2l-2 -2"></path>
                    <path d="M17 17l-2 2l2 2"></path>
                 </svg>
                <h2 class="settingsBlock__title">Service user</h2>
                <h3 class="settingsBlock__discription">Here you can set or change application's user.</h3>
            </div>
        </div>
    </div>

</div>


<div class="modal" id="addNewUser">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Add new user</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>

            <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="accountType">Acount type</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="user" name="accountType" value="user">
                    <label for="user">User</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="admin" name="accountType" value="admin">
                    <label for="admin">Admin</label>
                </div>
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add user</button>
        </div>
    </form>
</div>
<div class="modal" id="manageUsers">
    <form method="" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Manage users</h2>
        
        <table class="tableList">
            <tr class="tableList__item">
                <th class="tableList__item__cell--username">User name</th>
            </tr>
            <tr class="tableList__item">
                <td class="tableList__item__cell--username">Administrator</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                 </svg></th>
                <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-password" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 10v4"></path>
                    <path d="M10 13l4 -2"></path>
                    <path d="M10 11l4 2"></path>
                    <path d="M5 10v4"></path>
                    <path d="M3 13l4 -2"></path>
                    <path d="M3 11l4 2"></path>
                    <path d="M19 10v4"></path>
                    <path d="M17 13l4 -2"></path>
                    <path d="M17 11l4 2"></path>
                 </svg></th>
                <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 7l16 0"></path>
                    <path d="M10 11l0 6"></path>
                    <path d="M14 11l0 6"></path>
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                 </svg></th>
            </tr>
        </table>

        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
        </div>
    </form>
</div>

<div class="modal" id="emial">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Add new user</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>

            <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="accountType">Acount type</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="user" name="accountType" value="user">
                    <label for="user">User</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="admin" name="accountType" value="admin">
                    <label for="admin">Admin</label>
                </div>
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add user</button>
        </div>
    </form>
</div>
<div class="modal" id="alerts">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Add new user</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>

            <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="accountType">Acount type</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="user" name="accountType" value="user">
                    <label for="user">User</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="admin" name="accountType" value="admin">
                    <label for="admin">Admin</label>
                </div>
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add user</button>
        </div>
    </form>
</div>
<div class="modal" id="historicalAlerts">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Add new user</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>

            <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="accountType">Acount type</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="user" name="accountType" value="user">
                    <label for="user">User</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="admin" name="accountType" value="admin">
                    <label for="admin">Admin</label>
                </div>
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add user</button>
        </div>
    </form>
</div>

<div class="modal" id="api">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Add new user</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>

            <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="accountType">Acount type</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="user" name="accountType" value="user">
                    <label for="user">User</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="admin" name="accountType" value="admin">
                    <label for="admin">Admin</label>
                </div>
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add user</button>
        </div>
    </form>
</div>
<div class="modal" id="backups">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Add new user</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>

            <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="accountType">Acount type</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="user" name="accountType" value="user">
                    <label for="user">User</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="admin" name="accountType" value="admin">
                    <label for="admin">Admin</label>
                </div>
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add user</button>
        </div>
    </form>
</div>
<div class="modal" id="historicalData">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Add new user</h2>
        
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>

            <div class="Form__content__line">
                <label class="Form__content__line__title line__title--radio" for="accountType">Acount type</label>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="user" name="accountType" value="user">
                    <label for="user">User</label>
                </div>
                <div class="Form__content__radioOptions">
                    <input class="Form__content__radioOptions__radioButton" type="radio" required id="admin" name="accountType" value="admin">
                    <label for="admin">Admin</label>
                </div>
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Add user</button>
        </div>
    </form>
</div>

<div class="modal" id="serviceUser">
    <form method="POST" class="modal__basicForm">
        <input required id="addNewUser" name="formType" style="display: none;" value="addNewUser">
        <h2 class="basicForm__title">Current service user</h2>
        <table class="tableList">
            <tr class="tableList__item">
                <th class="tableList__item__cell--username">User name</th>
                <th class="tableList__item__cell--username">Status</th>
            </tr>
            <tr class="tableList__item">
                <td class="tableList__item__cell--username">Administrator</td>
                <td class="tableList__item__cell--username">Authenticated</td>
            </tr>
        </table>
        <h2 class="basicForm__title">Set service user</h2>
        <div class="modal__basicForm__content">
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="username">Username</label>
                <input maxlength="128" required type="text" class="Form__content__textInput" id="username" name="username">
            </div>
            <div class="Form__content__line">
                <label class="Form__content__line__title" for="password">Password</label>
                <input required type="password" minlength="8" class="Form__content__textInput" id="password" name="password">
            </div>
        </div>


        <div class="basicForm__buttonsWrapper">
            <div class="buttonsWrapper__button button--negative"><a class="link" href="/settings">Cancel</a></div>
            <button type="submit" class="buttonsWrapper__button button--positive">Set user</button>
        </div>
    </form>
</div>

<script>
    document.getElementById("settings").classList.add('active')
</script>

{% endblock %}
