.contentCard--tableList
{
    max-height: 75%;
    overflow: auto;
}
.tableList--servicesStatus
{
    max-height: 35rem;
}
.pageContent__block--settings
{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.tableList
{
    border-collapse: collapse;
    width: 100%;
}
.tableList__item
{
    width: 100%;
    height: 3rem;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: .0625rem solid var(--whiteStroke);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    color:var(--black);
}


.tableList__item__cell--serverName
{
    width: 86%;
    text-align: left;
}

.tableList__item__cell--username
{
    width: 70%;
    text-align: left;
}

.tableList__item__cell--config
{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.tableList__item.subTable
{
    padding-left: 1rem;
    max-height: 10rem;
    overflow-y: auto;
    height: auto;
}

.subTable__item
{
    height: 1.5rem;

}


.serverNameWrapper
{
    display: flex;
    align-items: center;
    gap:.5rem;
}

.statusDot
{
    border-radius: 50%;
    width: 0.35rem;
    height: 0.35rem;
    background-color: var(--darkGrey);
}

.statusIcon
{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: var(--black);
    font-weight: 600;
}
.green
{
    background-color: var(--green);
}
.yellow
{
    background-color: var(--yellow);
}
.red
{
    background-color: var(--red);
}

.grey
{
    background-color: grey;
}


.modal
{
    display: none;
    width: fit-content;
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal.active
{
    z-index: 10;
    display: flex;
}

.modal__basicForm
{
    display: flex;
    flex-direction: column;
    width: 31.5rem;
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 2rem;
    gap: 2rem;
}

.modal__basicForm__content
{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}
.basicForm__title
{
    font-size: 2rem;
    font-weight: 600;
    color:var(--black);
}

.Form__content__line
{
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
}
.Form__content__line__title
{
    font-weight: 500;
    font-size: 0.875rem;
}
.Form__content__line__error_msg
{
    display: none;
}

.Form__content__textInput
{
    display: flex;
    height: 3rem;
    padding: 1rem;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid #E1E1E1;
    background: var(--white);
}

.basicForm__buttonsWrapper
{
    display: flex;
    gap: 1.5rem;
}
.basicForm__buttonsWrapper > *{
    flex: 1 1 auto;
    
}

.buttonsWrapper__button
{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0;
    font-size: 0.875rem;
    font-weight: 500;
}


.Form__content__line__title.line__title--radio
{
    margin-bottom: .25rem;
}

.Form__content__radioOptions
{
    display: flex;
    gap: .5rem;
} 

.button--positive
{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.button--negative
{
    text-decoration: underline;
    color: var(--black);
}

.Form__content__radioOptions__radioButton
{
    transform: scale(1.25);
}


.contentCard.contentCard--settingsBlock
{
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    text-align: center;
    cursor: pointer;
}

.settingsBlock__title
{
    font-weight: 500;
    font-size: 1rem;
    color: var(--black);
}
.settingsBlock__discription
{
    font-size: 0.75rem;
    color: var(--grey);
    font-weight: 400;
}


.dashboard__sectionTwo__content
{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contentCard--serverUsage
{
    display: flex;
    width: 20rem;
    font-size: .75rem;
}


.tableList__item__serverList__cell--status
{
    width: 5rem;
}

.tableList__item__serverList__cell--serverName
{
    width: 20rem;
}


.tableList__item__serverList__cell--config
{
    width: 1rem;
}

.tableList--serverList
{
    text-align: left;
}

.statusIcon--center
{
    margin:auto;
}

.tableList th
{
    font-weight: 600;
}

.serverUsage__header
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.settings__section
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings__section__title
{
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
}
.settings__section__content
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contentCard__timeBar
{
    float: right;
    display: flex;
    gap:.5rem;
    flex-direction: row;
}

.contentCard__timeBar__timeInput
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:.5rem;
    margin-left: 1rem;
}

.contentCard.contentCard--overview
{
    align-items: flex-end;
}


.contentCard__spec
{
    border-radius: 1rem;
    border: 1px solid #D9D9D9;
    padding: 0.4rem;
    background-color: var(--white);
}

.contentCard.contentCard--spec
{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--lightGrey);
}

.contentCard--spec h2
{
    color: var(--black);
    font-weight: 600;
    line-height: 1.3;
}

.contentCard__chart
{
    width: 100%;
    height: 30rem;
}
.pageContent__text.pageContent__text--sub
{
    font-size: 1.6rem;
    margin-top: 1.4rem;
    margin-bottom: .5rem;
}
.contentCard--servicesList
{
    max-height: 30rem;
    overflow-y: auto;
}

.Form__question
{
    display: flex;
    justify-content: center;
    width: 100%;
}